<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419659988272-v77cp6pd7i8ctgdn9to078d7skhi377l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419659988272-v77cp6pd7i8ctgdn9to078d7skhi377l</string>
	<key>API_KEY</key>
	<string>AIzaSyBl0v3YTfatmkwJmzOM3OrVqtv5pFPPvtg</string>
	<key>GCM_SENDER_ID</key>
	<string>419659988272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbpgc.bloodDonation</string>
	<key>PROJECT_ID</key>
	<string>blood-donation-app-f5b97</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donation-app-f5b97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419659988272:ios:cb883c4bb70eca4ac91cf5</string>
</dict>
</plist>